.wrapper {
    position: relative;
    width: 90%;
    margin: -15px auto 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #777;
}

.heading {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    color: #F4B304;
    font-weight: 400;
    text-shadow: 10px -10px 0 rgba(244, 180, 4, 0.226);
}

.paragraph {
    margin: 10px auto;
}

.image {
    width: 80%;
    margin: 10px 0 10px -35px;
}