.wrapper {
    position: relative;
    background-image: url('../assets/images/bg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 250px;
}
.navbar {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;


    .hamburger {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        cursor: pointer;
        background: none;
        outline: none;
        border: none;
        z-index: 1000;
      }
      
      .bar1, .bar2, .bar3 {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 4px 0;
        border-radius: 2px;
        transition: 0.4s;
      }
      
      .active .bar1 {
        -webkit-transform: translateY(1px) translateX(1px) rotate(-45deg);
        transform: translateY(7px) translateX(-1px) rotate(-45deg);
        background-color: #777;
    }
    
    .active .bar2 {
        opacity: 0;
    }
    
    .active .bar3 {
        -webkit-transform: translateY(1px) translateX(1px) rotate(45deg);
        transform: translateY(-6px) translateX(-1px) rotate(45deg);
        background-color: #777;
      }

    img {
        height: 30px;
        grid-column-start: 2;
    }
}

.slogan {
    position: absolute;
    left: 10px;
    bottom: 5%;
    width: 70%;
}