* {
    margin: 0;
    padding: 0;
}

a, button {
    box-sizing: inherit;
}

*, *::after, *::before {
    box-sizing: border-box
}


body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
